.my-h1-container{
    height: 50rem;
    background-image: url(/img/pexels-anton-ivanov-9069167.jpg);
    background-size: cover;
    background-position: bottom; 
    background-repeat: no-repeat;
    position: relative;
   

}

.my-backround-container{
    height: 50rem;
    background-image: url(/img/pexels-shattha-pilabut-135620.jpg);
    background-size: cover;
    
    background-repeat: no-repeat;
    position: relative;
   

}


.my-justify{
    text-align: justify;
}

.icon {
    font-size: 12rem;
    padding: 1rem;
}


.blur{
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;

}

.bottone4 {
    display: inline-block;
    height: 50px;
    width: 200px;
    border: 1px solid #E95420;
    text-transform: uppercase;
    color: #E95420; 
    font-weight: bold;
    letter-spacing: 2px;        
    background-color: white;
    transition: 0.4s;
    position: relative;
          
}
.social{
    position: absolute;
    height: 50px;
    width: 200px;
    background-color: white;
    top: -1px;
    left: -1px;
    opacity: 0;
    transition: 0.4s;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
a.bottone4-social-box {
    height: 40px;
    width: 40px;
    background-color: #E95420;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    transition: 1s;
} 
a.bottone4-social-box i {
    transition: 1s;
}

/* Animations */
.titleAnimation{animation: translate 1.3s ease;}
.pAnimation{animation: fadeout 2s ease-in;}
.slide{animation: slide 1s ease-in-out; transition: 0.5s;}
.slideverse{animation: slideverse 1s ease; transition: 0.5s;}
.slide:hover, .slideverse:hover {background-color: rgba(252, 112, 57, 0.25);}

@keyframes translate{
    0%{transform: translateX(0px) }
    40%{transform: translateX(35rem)}
    80%{transform: translateX(-10rem)}
    86%{transform: translateX(5rem)}
    97%{transform: translateX(-3rem)}
    
}

@keyframes fadeout {

    100% {
        opacity: 1;
    }
    0%, 20%{
        opacity: 0;
    }

}

@keyframes slide{
    0%{transform: translateX(-10rem) }
    100%{transform: translateX(0rem) }
    200% {
        opacity: 1;
    }
    0%, 7%{
        opacity: 0;
    }
    
    
}

@keyframes slideverse{
    0%{transform: translateX(10rem) }
    100%{transform: translateX(0px) }
    0%, 7%{
        opacity: 0;
    }
    
    
}


.bottone4:hover {
    border: none;
    transform: scale(1.4);
}


.bottone4:hover .social {
    opacity: 1;
    
}


a.bottone4-social-box:hover {
transform: rotateZ(45deg);
}


a.bottone4-social-box:hover i {transform: rotateZ(-45deg);}

